.cadre_suggestion {
  width: 30%;
  height: 70%;
  overflow: hidden;
  border-radius: 50px; /*1*/
  border: 5px solid transparent; /*2*/
  background: linear-gradient(45deg, #22aab3, #05e2c9) border-box;
}

.text_suggestion {
  width: 60%;
}
